#portrait-game-app {
}

.hero {
  margin: 0 auto;
  width: 256px;
  height: 144px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hero-name {
  margin: 0;
  padding-top: 1em;
  font-size: 2em;
  text-align: center;
}

.hero.is-revealed .hero-portrait {
  display: none;
}

.hero:not(.is-revealed) .hero-name {
  display: none;
}
