#portrait-game-app {
}

.hero {
  overflow: hidden;
  margin: 0 auto;
  width: 256px;
  height: 144px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both;
  position: relative;
}

.hero div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero-name {
  font-size: 2.5em;
  text-align: center;
  color: #BBB;
  text-shadow: black 2px 1px 5px;
  background: rgba(0,0,0,0.4);

}

.hero:not(.is-revealed) .hero-name {
  display: none;
}
